<!DOCTYPE html>
<html>
	<head>
		<title>MyBooks</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
			<body>
				<div id="landingpage-header">
					<h1>Welcome to MyBooks</h1>
					<a href="#" class="btn btn-lg btn-default">Get Started</a>
				</div>
			</body>



</html>